<aside id="slidebar">
    <div id="nav-blog" class="slidebar-item">
        <h3>Puedes hacer esto:</h3>
        <a [routerLink]="['/blog/crear']" class="btn btn-success">Crear Artículo</a>
    </div>

    <div id="search" class="slidebar-item">
        <h3>Buscador</h3>
        <p>Encuentra el artículo que buscas:</p>
        <form #searchForm="ngForm" (ngSubmit)="goSearch()">
            <input type="text" name="search" [(ngModel)]="searchString"/>
            <input type="submit" name="submit" value="Buscar" class="btn">
        </form>
    </div>
</aside>

<div class="clearfix"></div>
